@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

i {
  color: #fff;
}

.container-fluid {
  padding: 0;
}
.container-fluid header {
  height: 40px;
  width: inherit;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container-fluid header ul:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}
.container-fluid header ul:first-child li {
  padding: 20px;
}
.container-fluid header ul:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}
.container-fluid header ul:last-child li {
  margin: 0;
}
.container-fluid .wrapper-blog {
  letter-spacing: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: inherit;
  height: 222px;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: bold;
  line-height: 40px;
  color: black;
}
.container-fluid .wrapper-blog h1 {
  font-size: 48px;
  font-weight: 700;
}
.container-fluid .wrapper-blog p {
  font-size: bold;
}
.container-fluid .wrapper-blog p span {
  text-align: center;
  color: #fff;
  background-color: black;
}
.container-fluid .slider {
  background: url("../images/jane.jpg") no-repeat center/cover;
  width: 100%;
  padding-top: 70%;
  position: relative;
}
.container-fluid .slider-content {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 2rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.container-fluid .slider-title {
  font-size: 3.6rem;
  margin-bottom: 3rem;
}
.container-fluid .slider-desc {
  font-size: 4.8rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.container-fluid .slider-button {
  display: block;
  padding: 10px 20px;
  font-size: 30px;
  color: #000;
  background-color: #a0a0a0;
}
@media (max-width: 767px) {
  .container-fluid .slider .slider {
    padding-top: 40%;
  }
  .container-fluid .slider .slider-content {
    left: 1rem;
  }
  .container-fluid .slider .slider-content h3 {
    display: none;
  }
  .container-fluid .slider .slider-title {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .container-fluid .slider .slider-desc {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  .container-fluid .slider .slider-button {
    font-size: 10px;
    padding: 0;
  }
}

.row .col-lg-8 .story-list {
  line-height: 40px;
}
.row .col-lg-8 .story-list .story-item {
  margin-block: 10px;
  -webkit-box-shadow: rgba(10, 10, 10, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(10, 10, 10, 0.2) 0px 2px 8px 0px;
  margin-bottom: 20px;
  line-height: 30px;
}
.row .col-lg-8 .story-list .story-item .story-title,
.row .col-lg-8 .story-list .story-item .story-desc {
  text-align: center;
}
.row .col-lg-8 .story-list .story-item .story-title span,
.row .col-lg-8 .story-list .story-item .story-desc span {
  color: gray;
}
.row .col-lg-8 .story-list .story-item .story-title {
  font-weight: 500;
  font-style: bold;
  padding-top: 30px;
}
.row .col-lg-8 .story-list .story-img > img {
  margin-block: 20px;
  margin-left: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
}
.row .col-lg-8 .story-list .story-content p {
  font-family: "Open Sans";
  margin-inline: 20px;
  font-size: 18px;
  line-height: 25.5px;
  padding-bottom: 10px;
}
.row .col-lg-8 .story-list .comment-story {
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-inline: 20px;
  /* Ẩn button thứ hai trên các thiết bị di động */
}
.row .col-lg-8 .story-list .comment-story button {
  border: none;
  padding: none;
  width: 100px;
  padding: 3px;
}
.row .col-lg-8 .story-list .comment-story button i {
  color: black;
}
.row .col-lg-8 .story-list .comment-story button:hover {
  opacity: 0.7;
  background-color: gray;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}
.row .col-lg-8 .story-list .comment-story button:nth-child(2) {
  color: #cccccc;
  background-color: black;
}
.row .col-lg-8 .story-list .comment-story button:nth-child(2) span {
  background-color: #fff;
  color: black;
  margin-left: 10px;
  padding-inline: 10px;
}
.row .col-lg-8 .story-list .comment-story button:first-child {
  width: 80px;
  border: 1px solid black;
}
@media (max-width: 767px) {
  .row .col-lg-8 .story-list .comment-story button {
    width: 50px;
  }
  .row .col-lg-8 .story-list .comment-story button span {
    margin-left: 5px;
  }
}
.row .col-lg-4 .about {
  margin-right: 20px;
  -webkit-box-shadow: rgba(10, 10, 10, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(10, 10, 10, 0.2) 0px 2px 8px 0px;
}
.row .col-lg-4 .about .about-cover img {
  width: 100%;
}
.row .col-lg-4 .about .about-content {
  line-height: 20px;
  color: #fff;
  font-size: 15px;
  padding-top: 20px;
  background-color: black;
  padding-bottom: 15px;
}
.row .col-lg-4 .about .about-content p,
.row .col-lg-4 .about .about-content h5 {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 25px;
  margin-left: 10px;
}
.row .col-lg-4 .title {
  color: #fff;
  background-color: black;
  padding: 15px;
}
.row .col-lg-4 .popular-post {
  margin-right: 20px;
  margin-block: 20px;
  -webkit-box-shadow: rgba(10, 10, 10, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(10, 10, 10, 0.2) 0px 2px 8px 0px;
}
.row .col-lg-4 .popular-post .row {
  margin-left: 5px;
  padding: 6px;
  border: 1px;
}
.row .col-lg-4 .popular-post .row .col-lg-2 img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 767px) {
  .row .col-lg-4 .popular-post .popular-post .col img {
    max-width: 80px;
  }
}
.row .col-lg-4 .Advertise {
  margin-bottom: 20px;
  margin-right: 20px;
  -webkit-box-shadow: rgba(10, 10, 10, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(10, 10, 10, 0.2) 0px 2px 8px 0px;
  text-align: center;
}
.row .col-lg-4 .Advertise .content-advertise {
  height: 220px;
}
.row .col-lg-4 .Advertise .content-advertise p {
  background-color: rgb(241, 241, 241);
  margin-inline: 12px;
  height: 200px;
  line-height: 200px;
}
.row .col-lg-4 .tag-list {
  padding: 1rem;
  gap: 1rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.row .col-lg-4 .tag-item {
  padding: 3px 8px;
  background-color: #f1f1f1;
  font-size: 1rem;
}
.row .col-lg-4 .tag-item.active {
  background-color: #000;
  color: #fff;
  font-size: 1rem;
}
.row .col-lg-4 .Inspiration {
  -webkit-box-shadow: rgba(10, 10, 10, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(10, 10, 10, 0.2) 0px 2px 8px 0px;
  margin-right: 20px;
  margin-bottom: 30px;
}
.row .col-lg-4 .Inspiration .content-Inspiration {
  padding-bottom: 20px;
}
.row .col-lg-4 .contact {
  -webkit-box-shadow: rgba(10, 10, 10, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(10, 10, 10, 0.2) 0px 2px 8px 0px;
  margin-right: 20px;
  margin-bottom: 30px;
}
.row .col-lg-4 .contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.row .col-lg-4 .contact ul li i {
  margin-left: 20px;
  font-size: 1.5rem;
  padding: 10px;
  color: black;
}
.row .col-lg-4 .Subscribe {
  padding-bottom: 20px;
  -webkit-box-shadow: rgba(10, 10, 10, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(10, 10, 10, 0.2) 0px 2px 8px 0px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.row .col-lg-4 .Subscribe .content-sub {
  margin-inline: 10px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
.row .col-lg-4 .Subscribe .content-sub p {
  font-size: 17px;
  font-style: initial;
}
.row .col-lg-4 .Subscribe .content-sub input {
  padding: 0;
  width: 100%;
  padding: 5px;
}
.row .col-lg-4 .Subscribe .content-sub button {
  width: 100%;
  padding: 5px;
  background-color: #f44336;
  color: #fff;
}
.row .col-lg-4 .Subscribe .content-sub button:hover {
  border: none;
  background-color: #cccccc;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

footer {
  height: 200px;
  width: inherit;
  background-color: #616161;
  line-height: 40px;
  color: #fff;
}
footer button {
  color: #fff;
  border: none;
  width: 120px;
  height: 40px;
  margin: 20px 10px;
  background-color: black;
}
footer p {
  margin: 10px 10px;
  font-family: "Open Sans";
  font-size: 15px;
}